<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ccb.zzland_exchange.mapper.ForSellMapper">
    <resultMap id="forSell" type="com.ccb.zzland_exchange.domain.ForSell">
        <result column="Id" property="Id"/>
        <result column="city" property="city"/>
        <result column="date" property="deadline"/>
    </resultMap>
    <!--&lt;小于号 -->
    <select id="selectList" resultMap="forSell" parameterType="com.ccb.zzland_exchange.domain.ForSellDataParam">
        SELECT "Id","city",TO_CHAR("date",'yyyy-mm-dd hh24:mi:ss') as "date" FROM
        (SELECT ROWNUM AS rowno, t.* FROM "sell_msg" t
        WHERE ROWNUM &lt;= #{down}
        <if test='city != "all"'>
            and "city" = #{city}
        </if>)
        WHERE rowno >= #{up}
    </select>

    <select id="selectCity" resultType="java.lang.String">
        select "city" from "sell_msg" group  by "city"
    </select>

    <select id="selectCount" resultType="int" parameterType="java.lang.String">
        SELECT COUNT(*) FROM "sell_msg"
        <where>
            <if test='city != "all"'>
                "city" = #{city}
            </if>
        </where>
    </select>
    <!--插入数据-->
    <insert id="insertForSells" parameterType="java.util.List" useGeneratedKeys="false">
        INSERT ALL
        <foreach collection="list" item="item" index="index">
            INTO "sell_msg"("Id","city","date") values(
            #{item.Id},
            #{item.city},
            TO_DATE(#{item.deadline},'yyyy-mm-dd hh24:mi:ss')
            )
        </foreach>
        select 1 from dual
    </insert>

    <!--清空表-->
    <update id="truncateTable">
        truncate TABLE "sell_msg"
    </update>
</mapper>